* {
  margin: 0;
  padding: 0;
}
body {
  margin-left: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  box-sizing: border-box;
}
.main-container {
  border: 1px solid black;
  display: flex;
  height: 300px;
  width: 327.49px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 20px;
  position: relative;
  left: 30%;
  top: 10px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 30%;
  top: 20px;
}

.logo {
  background-image: url("instagram-logo.png");
  height: 55px;
  width: 194px;
  background-size: cover;
}
#inputbox {
  height: 40px;
  width: 299.4px;
}
.logo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 327.4px;
}
.fblogo{
    background-image: url('facebook-logo.png');
    height: 18px;
    width: 18px;
    background-size: cover;
}
#btn
{
    background-color: cornflowerblue;
    border: none;
}
.inp {
  height: 30px;
  width: 299.4px;
  
}
#login {
  height: 15.5px;
  width: 299.4px;
 
}
#login2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.b1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#st1 {
  background-image: url("playstore.png");
  height: 45.86px;
  width: 154px;
  background-size: cover;
}
#st2 {
  background-image: url("appstore.png");
  height: 45.86px;
  width: 154px;
  background-size: cover;
}

.store {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: ;
  width: 327.49px;
  position: relative;
  left: 30%;
  top: 30px;
}
.container1 {
  border: 1px solid black;
  display: flex;
  width: 327.49px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
  left: 30%;
  top: 10px;
}
.phone {
  background-image: url("app-feautures.png");
  height: 517px;
  width: 329px;
  background-size: cover;
  position: absolute;
  left: 25%;
}
